<div id="fh5co-contact">
			<div class="row">
				<div class="col-md-6 animate-box">
					<img src="{{ file_url(content.field_about_image['#items'].entity.uri.value) }}" alt="about image" class="img-responsive">
				</div>
				<div class="col-md-6 animate-box detail-res detail">
					<h3>{{ content.field_about_title.0 }}</h3>
					{{ content.field_about_description.0 }}
				</div>
			</div>
		</div>