				<div class="col-md-6  portfolio-image">
					<div class="row">
						<div class="col-md-12 animate-box">
						<a href="{{fields.view_node.content}}" class="portfolio-grid">
							<img src="{{ fields.field_portfolio_images.content }}" class="img-responsive" alt="">
							<div class="desc">
								<h3>{{ fields.title.content }}</h3>
								<span>{{ fields.field_work_type.content }}</span>
							</div>
						</a>
						</div>
					</div>


				</div>