<div id="fh5co-intro">
  <div class="row animate-box">
    <div class="col-md-8 col-md-offset-2 col-md-pull-2">
      {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}
        </div>
  </div>
</div>
    
<aside id="fh5co-hero">
<div class="flexslider">
  <ul class="slides">
    {% if rows %}
        {{ rows }}
    {% endif %}    
  </ul>
</div>
</aside>