
<!-- PORTFOLIO SECTION -->  
<section id="portfolio" class="text-center {{content.field_select_mode.0}}">
  <div class="">
    <h2>{{content.field_title.0}}</h2>
  </div>
    {{ render_block('views_block__portfolio_tags_block_1') }}
    {{content.field_portfolio}}
</section>